@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

img {
    width: 100%;
}

.text-blue {
    color: #104AF3;
}

a {
    list-style: none;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.fs-7 {
    font-size: 13px !important;
}

.bg-body-header {
    background-color: #FFF;
    filter: drop-shadow(0px 4px 4px #F5F5F5);
}

.my__logo {
    width: 35px;

}

.active svg path {
    fill: #104AF3 !important;
}

.search_icon {
    position: absolute;
    right: 5px;
    top: 0px;
}

.my-btn {
    border: 2px solid #104AF3;
    background-color: #FFF;
    color: #104AF3;
    padding: 10px 25px;
    border-radius: 100px;
}

.my-btn-2 {
    border: 2px solid #104AF3;
    background-color: #FFF;
    color: #104AF3;
    padding: 10px 25px;
}

.my-btn-black {
    border: 2px solid black;
    background-color: #FFF;
    color: black !important;
}

.my-btn-black:hover {
    border: 2px solid black;
    color: black;
}

.my-btn-2:hover {
    border: 2px solid #003ef8;
    color: #104AF3;
}

.my-facebook-btn, .my-facebook-btn:hover {
    background-color: #415792;
}

.my-btn-blue, .my-btn-blue:hover {
    background-color: #104AF3;
}

.border-rad {
    border-radius: 60px
}

.btn-orange {
    color: #FF881B;
    border: 1px solid #FF881B;
}

.btn-orange:hover {
    background-color: white;
    color: #FF881B;
    border: 1px solid #FF881B;
}

.btn-outline-light {
    border: 2px solid #DDDDDD;
}

.text-gray {
    color: #B2AFAF;
}

.bdr-rad-20 {
    border-radius: 20px;
}

.fs-sm {
    font-size: 14px;
}

.list-style-none {
    list-style-type: none;
}

.bottom-adj {
    position: fixed;
    background-color: rgb(217 237 247 / 52%);
    bottom: -17px;
    left: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 1000;
    padding: 10px;
    justify-content: space-around;
}

.btn-outline-primary:hover {
    background-color: white;
    color: #104AF3;
    border: 1px solid #104AF3;
}

.bg-light-pink {
    background-color: #F5F5F5;
}

.bg-light-pink-2 {
    background-color: #DDDDDD;
}

.focus-none:focus {
    outline: none;
    box-shadow: none;
}

.hover-bg-white:hover {
    background-color: white;
    color: black;
}

@media(max-width: 800px) {

    .border {
        border: 0px solid #B2AFAF !important;
    }

}

@media(min-width: 1100px) {
    .w-lg-25 {
        width: 25%;
    }
}